<div class="wrapper">
  <div class="bg"></div>
  <div class="login">
    <div class="wrapper-login">
      <div class="logo-container">
        <img class="logotipo" src="../../../assets/logo_login.jpeg" alt="Logotipo" />
      </div>
      <div class="login-form">
        <ui-textbox label="Login" class=""></ui-textbox>
        <ui-textbox 
          type="password"
          label="Senha"></ui-textbox>
        <button class="btn-login">Entrar</button>
      </div>
      <a href="#">Esqueci minha senha</a>
    </div>
  </div>
</div>