.wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    font-size: 1rem;
    color: #443D3D;
    line-height: 50px;
    @media screen and (max-width: 600px){
        grid-template-columns: 0% 100%;
    }
}

.bg {
    background-image: url(../../../assets/login_bg.jpg);
    background-size: cover;
}

.logo-container {   
    padding: 20px;
    text-align: center;
}

.logo-container img {   
    border-radius: 50%;
}

.login-form {
    text-align: center;
    padding: 0px 100px;
    @media screen and (max-width: 900px){
        padding: 40px;
    }
}

.login-form ui-textbox {
    width: 250px;
}

.btn {
    border: none;
    padding: 18px;
    width: 160px;
    border-radius: 26px;
    color: #fff;
    font-size: medium;
    margin: 9px;
    outline: none;
}

.btn-login {
    background-color: #027CEB;
}

.btn-remember {
    background-color: #ccc;
    color: #443D3D;
}

.login-buttons {
    padding-top: 10px;
    text-align: center;
}
