<div class="wrapper">
  <div class="bg"></div>
  <div class="login">
    <div class="wrapper-login">
      <div class="logo-container">
        <img class="logotipo" src="../../../assets/logo_login.jpeg" alt="Logotipo" />
      </div>
      <div class="login-form">
        <ui-textbox 
          label="Login"
          [(value)]="login"></ui-textbox>
        <ui-textbox 
          type="password"
          label="Senha"
          [(value)]="senha"></ui-textbox>
      </div>
      <div class="login-buttons"> 
        <button class="btn btn-remember" (click)="doRemember()">Esqueci senha</button>
        <button class="btn btn-login" (click)="doLogin()">Entrar</button>
      </div>
    </div>
  </div>
</div>