@import '../../../assets/styles/variables.scss';

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px auto auto;
    grid-auto-rows: auto;

    grid-template-areas:
        "aside header header header"
        "aside  main   main   main"
        "footer footer footer footer";

    @media (max-width: 600px) {
        grid-template-areas:
        "header header header header"
        "aside aside aside aside"
        "main  main   main   main"
        "footer footer footer footer" ;
    }
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: $primary-color;

    div {
        padding: 8px 16px;
    }
}

main {
    grid-area: main;
    background-color: #ccc;
}

aside {
    grid-area: aside;
}

footer { 
    grid-area: footer;
    padding: 18px;
    text-align: center;
    grid-area: footer;
    background-color: black;
    color: #fff;
}

h3 {
    color: #fff;
    font-size: 22px;
    letter-spacing: 4px;
    span {
        position: relative;
        top: 5px;
    }
}

.c-infos {

}

.c-actions {
    text-align: right;
}