<div class="c-grid-projects">
  <div class="c-header-grid c-header-grid--round-top-left">--</div>
  <div class="c-header-grid">Company</div>
  <div class="c-header-grid">Projet Name</div>
  <div class="c-header-grid">Squads</div>
  <div class="c-header-grid c-header-grid--round-top-right">Sprints Status</div>
  <div>AL</div>
  <div>Alelo</div>
  <div>
    <a href="#" [routerLink]="['/project-edit']">PME</a>
  </div>
  <div>Sprints</div>
  <div>Sprints status</div>
  <div>BR</div>
  <div>Bradesco</div>
  <div>
    <a href="#" [routerLink]="['/project-edit']">PFin</a></div>
  <div>Sprints</div>
  <div>Sprints status</div>
</div>